<?xml version="1.0"?>
<launch>

  <node pkg="ar_kinect" type="ar_kinect" name="ar_kinect" respawn="true" output="screen">
    <param name="marker_pattern_list" type="string" value="$(find mcr_ar_marker_detection)/ros/config/marker.cfg"/>
    <param name="marker_data_directory" type="string" value="$(find ar_pose)"/>
    <param name="threshold" type="int" value="100"/>
  </node>

  <!--<node pkg="mcr_ar_marker_detection" type="goal_tf_publisher" name="goal_tf_publisher" ns="mcr_perception" />-->

  <node pkg="mcr_ar_marker_detection" type="marker_detector" name="marker_detector" ns="mcr_perception">
    <param name="accumulate_time" value="2" type="int"/>
  </node>

</launch>
