<?xml version="1.0"?>

<!--

Name: brsu-c025-sim
Author: Dharmin B.


         _____________wall_3_____________ 
        |          |          |          |
        |   SH01   |   PP01   |   SH02   |
        |__________|__________|__________|
        |                                |
        |                                |
        |                                |
        |                                |                ^ X
        |           __________           |                |
        |          |          |          |                |
        |          |   WS04   |          |          <_____|
        |          |__________|          |          Y
   wall_2          |__wall_6__|          wall_4
        |          |          |          |
        |          |   WS03   |          |
        |          |__________|          |
        |                                |
        |                                |
        |                                |
        |                                |
        |__________            __________|
        |          |          |          |
        |   WS01   |  ORIGIN  |   WS02   |
        |__________|          |__________|
           wall_1                wall_5

-->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="brsu-c025-sim">

    <xacro:include filename="$(find mcr_gazebo_worlds)/common/worlds/atwork_macros.xacro" />

    <link name="origin"/>

    <!-- ===== -->
    <!-- Walls -->
    <!-- ===== -->
    <xacro:wall name="wall_1" parent="origin" length="0.85">
        <origin xyz="-0.27 0.875 0.1" rpy="0.0 0.0 ${pi/2}"/>
    </xacro:wall>

    <xacro:wall name="wall_2" parent="origin" length="4.13">
        <origin xyz="1.775 1.32 0.1" rpy="0.0 0.0 0.0"/>
    </xacro:wall>

    <xacro:wall name="wall_3" parent="origin" length="2.6">
        <origin xyz="3.82 0.0 0.1" rpy="0.0 0.0 ${pi/2}"/>
    </xacro:wall>

    <xacro:wall name="wall_4" parent="origin" length="4.13">
        <origin xyz="1.775 -1.32 0.1" rpy="0.0 0.0 0.0"/>
    </xacro:wall>

    <xacro:wall name="wall_5" parent="origin" length="0.85">
        <origin xyz="-0.27 -0.875 0.1" rpy="0.0 0.0 ${pi/2}"/>
    </xacro:wall>

    <xacro:wall name="wall_6" parent="origin" length="0.8">
        <origin xyz="1.775 0.0 0.1" rpy="0.0 0.0 ${pi/2}"/>
    </xacro:wall>

    <!-- ============ -->
    <!-- Workstations -->
    <!-- ============ -->
    <xacro:ws name="ws01" parent="origin">
        <origin xyz="0.0 0.85 0.0" rpy="0.0 0.0 0.0"/>
    </xacro:ws>

    <xacro:ws name="ws02" parent="origin">
        <origin xyz="0.0 -0.85 0.0" rpy="0.0 0.0 0.0"/>
    </xacro:ws>

    <xacro:ws name="ws03" parent="origin">
        <origin xyz="1.5 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </xacro:ws>

    <xacro:ws name="ws04" parent="origin">
        <origin xyz="2.05 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </xacro:ws>

    <xacro:ppt_platform name="pp01" parent="origin" cavity_1="m20_100" cavity_2="m30"
                        cavity_3="s40_40" cavity_4="m20" cavity_5="f20_20">
        <origin xyz="3.55 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </xacro:ppt_platform>

    <xacro:shelf name="sh01" parent="origin">
        <origin xyz="3.55 0.85 0.0" rpy="0.0 0.0 0.0"/>
    </xacro:shelf>

    <xacro:shelf name="sh02" parent="origin">
        <origin xyz="3.55 -0.85 0.0" rpy="0.0 0.0 0.0"/>
    </xacro:shelf>

</robot>
