<?xml version="1.0"?>
<launch>

  <node pkg="mcr_object_recognition_height_based" type="object_recognition_height_based_node" name="object_recognition_height_based" ns="mcr_perception" output="screen"> 
    <param name="num_known_objects" value="4" />

    <param name="obj_1_name" value="pringles" />
    <param name="obj_1_height" value="0.241" />

    <param name="obj_2_name" value="snack" />
    <param name="obj_2_height" value="0.088" />
			
    <param name="obj_3_name" value="sponge" />
    <param name="obj_3_height" value="0.041" />		

    <param name="obj_4_name" value="ketchup" />
    <param name="obj_4_height" value="0.147" />

    <remap from="~pointcloud_xyzrgb" to="/head_cam3d/depth_registered/points" />
    <remap from="~visualization_marker" to="/visualization_marker_array" />
  </node>

</launch>
